body {
    background:#000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
}

.cmdline {
    outline: none;
    background-color: transparent;
    margin:0;
    font: inherit;
    border: none;
    color: inherit;
}

.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}

.timeStamp {
    float:right;
    margin-right: 5px;
}

#terminal {
    font-family: Andale Mono, monospace;  line-height: 1em;
    color: #63de00!important; 
    font-size:15px;
    line-height:1.5em;
    overflow-x:hidden;
    overflow-y:hidden;
}
  
#terminal p::-webkit-selection  {
    background:#0b209e;
}
#terminal p::selection { background:#0b209e; }
#terminal p::-moz-selection { background:#0b209e; }

#terminal .rasterText {
    height:24px;
    float:left;
}

#content{
    float: left; 
    margin-top: 1px;
}